@model Commerce.Website.Models.OrderViewModel

@{
    ViewData["Title"] = "Receipt";
}

<div style="margin-top:60px;">
    Tak! Din Bestilling er blevet modtaget <br>
    Dit ordrenummer: @Model.Id
</div>
Ordrefortjeneste - @Model.Revenue kr. :=)
